/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #6F7673;
    color: white;
    margin: 0;
    padding: 0;
}

/* Navigation */
nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

/* Hauptüberschrift */
h1 {
    margin-top: 20px;
    font-size: 24px;
}

/* Allgemeiner Text */
p {
    font-size: 18px;
}

/* Container für den Koran */
#quranContainer {
    margin-top: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Dropdown-Menü für Suren */
select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}

/* Anzeige der Verse */
#verses {
    margin-top: 10px;
    font-size: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}